.audienceFlod {
  padding: 20px 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.bttns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

/* ===================== Media Queries ===================== */

@media screen and (max-width: 991px) {
  .audienceFlod {
    padding: 50px 0;
  }

  .audienceFlod .audienceRow {
    gap: 40px;
  }

  .bttns {
    gap: 20px;
  }
  .audience Img{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .bttns {
    /* flex-direction: column; */
    gap: 20px;
    align-items: flex-start;
  }
  .audienceImg{
    display: none;
  }
  .audienceFlod .audienceRow {
    gap: 0px;
  }
  
}
